body {
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FFE91A;
  height: 100vh;
}

.header {
  text-align: center;
  font-weight: 900;
}

.footer {
  text-align: center;
  margin-top: auto;
  font-weight: 100;
}

.gif-getter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.gif-container {
  border: #FFE91A 10px solid;
  background-color: black;
  padding: 5%;
  max-width: 60%;
}

.image {
  max-width: 100%;
}

button {
  border: #FFE91A 2px solid;
  color: #FFE91A;
  background-color: black;
  transform: scale(3);
}

@media screen and (max-width: 600px) {
  button {
    transform: scale(1);
    border: #FFE91A 5px solid;
  }
}